form{
    label{
        color: #313131;
        font-weight:400;
        font-size: 16px;

    }
    .form-input{
        border:2px solid rgb(229 231 235);
        padding: 8px 10px;
        background: transparent;
        margin-top: 13px;
        font-size: 16px;
        font-weight: 400;
        color: #313131;
        
        &:focus{
            outline:none;
        } 
    }
    .error{
        border:1px solid red;
    }

    
}